$color-primary: #710707;
$color-additional: #9d8665;
$color-background: #030303;
$color-dark: #000000;
$color-light: #FFFFFF;

$color-active-link: #7E6C51;
$color-video-slider: #999999;
$color-video-slider-active: #333333;
$color-slider-unvisited: #D2B183;
$color-selected-menu: #E7E7E7;
$color-video-button: #B3B3B3;
$color-mark-text: #CAAA7D;

$content-big-width: 1440px;
$content-small-width: 1024px;
$tablet-width: 768px;
$mobile-width: 420px;