html {
    font-size: 10px;
}

body {
    @extend %font-main;
    @include font ($size:2.2rem, $height:2.6rem, $weight:300);
}


h1 {
    @extend %font-add;
    @include font ($size:8rem, $height:9rem);
    @extend %title-letter;
}

h2 {
    @extend %font-add;
    @include font ($size:8rem, $height:9rem);
    @extend %title-letter;
}

h3 {
    @extend %font-add;
    @include font ($size:3.2rem, $height:3.5rem);
    @extend %title-letter;
}

h4 {
    @include font ($weight:700, $size:2.8rem, $height:3.3rem);
}

.hr {
    margin:0;
    border: none;
    color: $color-primary; 
    background-color:$color-primary; 
    height: 3px;
}